@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #15202b;
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
}

section {
    display: flex;
}

/* Header - Début */
header {
    display: flex;
    justify-content: flex-end;
    width: 593.5px;
    height: 100vh;
}

.header-block {
    width: 275px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    flex-direction: column;
}

.header-top {
    width: 100%;
    height: 670px;
}

.header-logo {
    max-width: 100%;
    padding-bottom: 2px;
    padding-top: 2px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-logo div {
    width: 52px;
    height: 52px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.header-logo svg {
    width: 50px;
    height: 50px;
}

.header-navbar {
    height: 300px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 4px;
}

.header-link {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 4px;
}

.header-link a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header-link a>div {
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    border-radius: 999px;
}

.header-link a:hover>div,
.header-logo:hover div {
    background: rgba(247, 249, 249, 0.1);
}

.header-link a svg {
    margin-left: 12px;
}

svg {
    fill: #fff;
    stroke: none;
    height: 27px;
    width: 27px;
}

.header-link a span {
    padding: 12px;
    padding-right: 25px;
    color: #fff;
    font-size: 20px;
    font-family: "Noto Sans JP", sans-serif;
}

.header-link button {
    background: rgb(29, 155, 240);
    width: 90%;
    height: 52px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 12px;
    border-radius: 9999px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
}

.header-link button:hover {
    background: rgb(26, 140, 216);
}

.header-bottom {
    width: 100%;
    height: 65px;
    cursor: pointer;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
}

.header-profil {
    width: 100%;
    height: 100%;
    /* margin-left: 12px; */
    margin-right: 12px;
}

.header-ids {
    display: flex;
    flex-direction: column;
}

.header-profil h6 {
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
    color: #fff;
}

.header-profil {
    display: flex;
}

.header-profil p {
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
    color: rgb(139, 152, 165);
}

.header-points {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-points svg {
    width: 18px;
    height: 18px;
}
/* Header - Fin */

/* Main - Début */
main {
    width: 1050px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main-center {
    width: 600px;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main-center::-webkit-scrollbar {
    display: none;
}

.main-navbar {
    height: 54px;
    width: 100%;
    display: flex;
    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);
}

.main-portfolio,
.main-messages {
    width: 50%;
    height: 100%;
    padding-right: 16px;
    padding-left: 16px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background: transparent;
    font-family: "Noto Sans JP", sans-serif;
}

.main-portfolio span,
.main-messages span {
    font-size: 15px;
    border: none;
    cursor: pointer;
    background: transparent;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    color: rgba(139, 152, 165);
}

.main-message {
    width: 100%;
    padding-top: 4px;
    border: 1px solid rgb(56, 68, 77);
    padding-right: 16px;
    display: flex;
}

#user-profile {
    background: #15202b;
    border-radius: 999px;
    margin-bottom: 12px;
    transition: background-color 0.2s;
    position: relative;
}

#user-profile:hover.user-profile-active {
    background: rgba(247, 249, 249, 0.1);
}

.main-profil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text textarea {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    padding-top: 16px;
    padding-left: 4px;
    min-height: 24px;
    max-height: 720px;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.main-text textarea::-webkit-scrollbar {
    display: none;
}

.main-text textarea::placeholder {
    color: rgba(139, 152, 165);
    font-size: 20px;
    font-weight: 400;
}

.main-files {
    height: fit-content;
    width: 98%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-top: 1px solid rgb(56, 68, 77);
    /* margin-bottom: 16px; */
}

.main-files label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color .2s ease-out;
}

.main-files label:hover {

    background: rgba(29, 155, 240, 0.1);
}

.main-files svg {
    width: 20px;
    height: 20px;
    fill: rgba(29, 155, 240);
}

.main-button {
    min-height: 36px;
    min-width: 36px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(29, 155, 240);
    color: #fff;
    opacity: 0.5;
    border-radius: 9999px;
    padding: 0 18px; 
    font-weight: 700;
    font-size: 15px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 10px;
}

.main-notifications {
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgb(56, 68, 77);
    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(29, 155, 240);
}

.main-post {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    /* cursor: pointer; */
    padding-top: 12px;
    display: flex;
    border-bottom: 1px solid rgb(56, 68, 77);
    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);
    padding-bottom: 12px;
    transition: background-color.2s;
}

.main-post:hover {
    background: rgba(255, 255, 255, 0.03);
}

.main-picture {
    height: 100%;
    width: 40px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
}

.main-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.main-info {
    display: flex;
}

.main-info h5 {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
}

.main-info p {
    margin-left: 4px;
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: rgba(139, 152, 165);
}

.main-points {
    display: flex;
    justify-content: end;
}

.main-article {
    display: flex;
    color: #fff;
    font-size: 15px;
    font-family: "Noto Sans JP", sans-serif;
    flex-direction: column;
}

.main-image {
    margin-top: 12px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}

.main-image img {
    border: 1px solid rgb(56, 68, 77);
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-bottom {
    width: 100%;
    height: 32px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    column-gap: 4px;
}

.main-response {
    display: flex;
    align-items: center;
}
.main-response button {
    border: none;
    background: none;
    cursor: pointer;
}
.main-response button:hover {
    background: rgba(29, 155, 240, 0.10);

}
.main-response a, .main-response button {
    width: 37px;
    height: 37px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: background-color .2s;
}
.main-response a:hover {
    background: rgba(249, 24, 128, 0.1);
}
.main-response a:hover #likes path:first-child{
    fill: rgb(249, 24, 128);
}
.main-response svg {
    width: 19px;
    height: 19px;
    display: flex;
    fill: rgba(139, 152, 165);
    transition: fill .2s;
}
.main-response button:hover svg {
    fill: rgb(29, 155, 240);
}

.main-number {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgba(139, 152, 165);
    font-family: "Noto Sans JP", sans-serif;
    position: relative;
    right: 10px;
}

.main-side {
    width: 350px;
    height: 100vh;
    margin-right: 70px;
}

.main-block {
    padding-bottom: 64px;
    padding-top: 12px;
    width: 350px;
    height: 100%;
}

.main-subscribe {
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid rgb(56, 68, 77);
    width: 100%;
}

.main-subtitle {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.main-subtitle h2 {
    font-size: 20px;
    font-weight: 800;
    height: 20px;
    font-family: "Noto Sans JP", sans-serif;
    color: #fff;
    max-width: 100%;
    min-width: 0px;
}

.main-register {
    width: 100%;
}

.main-invitation p {
    font-size: 13px;
    padding-right: 12px;
    padding-left: 12px;
    min-width: 0px;
    font-weight: 400;
    color: rgba(139, 152, 165);
    font-family: "Noto Sans JP", sans-serif;
}

.main-register {
    width: 100%;
    height: 144px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.main-register button {
    height: 40px;
    margin-bottom: 12px;
    width: 300px;
    font-size: 15px;
    border-radius: 9999px;
    border: none;
    min-height: 36px;
    min-width: 36px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
    font-family: "Noto Sans JP", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-register button:first-child {
    font-weight: 500;
    color: #3c4043;
    font-size: 14px;
    letter-spacing: 0.25px;
    font-family: "Noto Sans JP", sans-serif;
}

.main-register button:last-child {
    margin-bottom: 0;
}

.main-register button svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.main-register button svg:nth-child(1) {
    width: 20px;
    height: 20px;
    fill: #000;
}

.main-terms {
    font-size: 13px;
    min-width: 0px;
    font-weight: 400;
    color: rgba(139, 152, 165);
    font-family: "Noto Sans JP", sans-serif;
    min-width: 0px;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 16px;
}

.main-terms a {
    text-decoration: none;
    color: rgba(29, 155, 240);
}

.main-member {
    margin-bottom: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background: black;
    width: 100%;
    background: rgb(30, 39, 50);
    overflow: hidden;
}

.main-members {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    max-width: 100%;
    min-width: 0px;
}

.main-members h2 {
    font-size: 20px;
    font-weight: 800;
    height: 20px;
    font-family: "Noto Sans JP", sans-serif;
    color: #fff;
    max-width: 100%;
    min-width: 0px;
}

.main-profils {
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
    gap: 12px;
    transition: background-color .2s;
}

.main-profils a {
    text-decoration: none;
    color: rgba(29, 155, 240);
}

.main-profils:hover {
    background: rgba(255, 255, 255, 0.03);
}

.main-profils:first-child:hover {
    background: none;
}

.main-profils img {
    width: 40px;
    height: 40px;
    min-width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.main-profils:last-child {
    padding: 16px;
}

.main-ids {
    min-width: 100%;
    width: 100%;
    color: #fff;
}

.main-ids h6,
.main-ids p {
    cursor: pointer;
}

.main-ids h6 {
    font-weight: 700;
    font-family: "Noto Sans JP", sans-serif;
    color: #fff;
    font-size: 15px;
}

.main-ids p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(139, 152, 165);
}

/* Main - Fin */

.main-text form {
    width: 100%;
}

.main-text form input {
    display: none;
}

.form-home {
    width: 100%;
    height: 100vh;
    background: #15202B;
    display: flex;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.form-home-left {
    height: 100%;
    width: 100%;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.form-home-left svg {
    fill: #fff;
    max-height: 380px;
    height: 50%;
    max-width: 100%;
    justify-content: center;
    display: inline-block;
    padding: 32px;
}

.form-home-right {
    height: 100%;
    width: 100%;
    min-width: 45vh;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.form-home-block {
    min-width: 437px;
    max-width: 760px;
    width: 100%;
    padding: 20px;
}

.form-home-title {
    line-height: 84px;
    letter-spacing: -1.2px;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: 48px;
    font-family: 'Roboto', sans-serif;
    width: 436px;
    color: #fff;
}

.form-home-subtitle {
    margin-bottom: 32px;
    line-height: 36px;
    font-weight: 700;
    font-size: 31px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.form-home-buttons {
    display: flex;
    flex-direction: column;
}

.form-home-buttons button {
    margin-bottom: 8px;
    width: 300px;
    height: 40px;
    flex: 0 0 auto;
    max-width: 400px;
    height: 44px;
    width: 320px;
    border: 0px;
    border-radius: 9999px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.25px;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.form-home-buttons button:first-of-type {
    color: #3c4043;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    height: 40px;
}

.form-home-buttons button:nth-of-type(3) {
    background-color: rgb(29, 155, 240);
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    height: 40px;
}

.form-home-buttons button svg {
    height: 18px;
    margin-right: 8px;
    min-width: 18px;
    width: 18px;
}

.form-home-or {
    max-width: 380px;
    width: 325px;
    height: 20px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-home-or span {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.form-home-or .or-left,
.form-home-or .or-right {
    background-color: rgb(47, 51, 54);
    height: 1px;
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
}

.form-home-cgu {
    color: rgb(113, 118, 123);
    width: 300px;
    max-width: 380px;
    line-height: 12px;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 20px;
}

.form-home-cgu p a {
    text-decoration: none;
    color: rgb(29, 155, 240);
}

.form-home-account {
    margin-top: 40px;
    width: 100%;
    max-width: 380px;
    line-height: 20px;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 20px;
}

.form-home-btn button:last-of-type {
    background: #15202B;
    color: rgb(29, 155, 240);
    font-weight: 700;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(83, 100, 113);
    height: 40px;
}

.bubble-logout {
    min-width: 260px;
    max-width: 360px;
    min-height: 30px;
    width: 300px;
    max-height: 480px;
    overflow: auto;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background: rgb(22, 33, 44);
    position: absolute;
    bottom: 78px;
    right: 50%;
    transform: translateX(50%);
    z-index: 999;
}

.bubble-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.bubble-block a {
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s;
}

.bubble-block a:hover {
    background: rgb(30 , 39, 50);
}

.hide {
    display: none;
}

.full-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-profils-plus {
    width: 100%;
}

#likes {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
/* #likes:hover {
    background: blue;
} */
#likes path {
    fill: rgba(139, 152, 165);
    transition: fill .2s;
}
#likes path:last-child {
    fill: transparent;
}
/* #likes path:hover {
    fill: rgb(29, 155, 240);
} */

#likes path.liked {
    fill: rgb(249, 24, 128);
}

#likes path:last-child.liked {
    fill: rgb(249, 24, 128);
}