<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href='data:image/svg+xml,<svg fill="white"  version="1.0" xmlns="http://www.w3.org/2000/svg" width="340.000000pt" height="300.000000pt" viewBox="0 0 340.000000 300.000000" preserveAspectRatio="xMidYMid meet">
					<g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" stroke="none"><path d="M230 1505 l0 -1465 160 0 160 0 2 1057 3 1057 385 -1057 385 -1057 111 0 111 0 20 53 c11 28 184 502 384 1052 l364 1000 3 -1053 2 -1052 425 0 425 0 0 1465 0 1465 -397 0 -398 0 -334 -876 c-184 -481 -337 -877 -341 -879 -3 -2 -157 391 -341 873 l-336 877 -396 3 -397 2 0 -1465z m935 246 l364 -905 -40 -135 c-23 -75 -44 -142 -48 -149 -6 -10 -832 2067 -831 2091 0 4 43 6 96 5 l95 -3 364 -904z m1685 -246 l0 -1155 -100 0 -100 0 0 1155 0 1155 100 0 100 0 0 -1155z"></path></g>
				</svg>'>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('js/script.js') }}"></script>

		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>




